<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Profile Page</title>
</head>
<body>
	<h1 th:text="${msg}"></h1>
	<h1>All Bio Data</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Action</th>
		</tr>
		<tr th:each="b: ${biodataList}">
			<td th:text="${b.id}"></td>
			<td th:text="${b.name}"></td>
			<td th:text="${b.age}"></td>
			<td>
                <a th:href="@{/edit/{id}(id=${b.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${b.id})}">Delete</a>
            </td>
		</tr>
	</table>
</body>
</html>